.App {
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 10px;
  background-color: #f0f0f0;
}

.media-container {
  flex-grow: 1;
  display: flex;
  overflow-x: auto;
  padding: 10px;
}


.media-item {
  margin: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
