.profile-card {
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
}

.profile-card img {
    float: left;
}

.profile-card p {
    padding-top: 2.5em;
    float: left;
}

.first-name {
    margin: 0 5px;
    font-weight: bold;
    font-size: 110%;
}

.last-name {
    margin-right: 20px;
    font-weight: bold;
    font-size: 110%;
}

.info-item {
    margin-right: 15px;
    font-size: 110%;
}

.profile-card.selected {
    background-color: rgb(150, 150, 200);
  }
  
  .profile-card:hover {
    background-color: rgb(150, 150, 200);
  }

  .profile-card::after {
    background-color: rgb(150, 150, 200);
  }