* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .clearfix::after{
    content:"";
    clear:both;
    display:table;
} */

html {
    background-color: rgb(6, 6, 100);
}

/* CSS for the entire page */
.fitnet {
    /* height: 100%; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(6, 6, 100);
}

.header_title {
    color: white;
    padding: 1em;
    margin-left: 50%;
    text-decoration: none;
    font-size: 250%;
    font-weight: bold;
}

.header_login {
    color: white;
    padding: 1em;
    margin-right: 2em;
    text-decoration: none;
}

.content {
    display: flex;
    flex-grow: 1;
}

/* This is the main body */
.main {
    width: 85%;
    height: 100%;
    padding: 20px; /* Add some padding for better aesthetics */
    border: 2px solid black;
    background-color: white;
}

.account_head {
    height: 250px;
    background-color: lightgray;
}

.account_head .account_img {
    margin: 25px 0 0 40.5%;
    border: 2px solid black;
}

.account_body {
    margin-top: 10px;
    height: 100vh;
}

.account_body .section1 {
    height: 20%;
}

.account_body .section1 .account_rates {
    float: left;
    background-color: lightgrey;
    text-align: center;
    width: 25%;
    height: 100%;
}

.account_body .section1 .account_rates h1 {
    padding-top: 10%;
    font-size: 150%
}

.account_body .account_rates p {
    padding-top: 10px;
    font-size: 150%;
}

.account_body .section1 .account_info_title {
    float: left;
    height: 100%;
    width: 15%;
    margin-left: 10px;
    background-color: lightgrey;
}

.account_body .section1 .account_info_title h1 {
    padding: 30% 0 0 20%;
    font-size: 150%;
}

.account_body .section1 .account_info_basic {
    float: left;
    background-color: lightgrey;
    height: 100%;
    width: 14.5%;
}

.account_body .section1 .account_info_basic ul {
    list-style-type: none;
    padding-top: 25px;
}

.account_body .section1 .account_info_basic ul li {
    padding-top: 5px;
}

.account_body .section1 .account_info_bio {
    float: left;
    background-color: lightgray;
    height: 100%;
    width: 44.7%;
}

.account_body .section1 .account_info_bio p {
    padding-top: 30px;
}

.account_body .section2 {
    margin-top: 10px;
    height: 80%;
    width: auto;
}

.account_body .section2 .account_days {
    float: left;
    text-align: center;
    width: 25%;
    height: 100%;
    background-color: lightgrey;
}

.account_body .section2 .account_days h1 {
    padding-top: 10%;
    font-size: 150%;
}

.account_body .section2 .account_days ul {
    list-style-type: none;
    text-align: left;
    padding-left: 10px;
}

.account_body .section2 .account_days li {
    padding: 5px 0;
}

.account_body .section2 .account_media_feed {
    float:left;
    margin-left: 10px;
    height: 100%;
    width: 74.23%;
    background-color: lightgray;
}

/* Link column on left side of screen */
.link_column {
    background-color: rgb(6, 6, 100);
    height: 90vh;
    width: 15%;
    position: relative;
    /* display: flex; */
}

.link_column ul {
    list-style: none;
    text-align: center;
}

.link_column ul li {
    padding: 1.5em;
    flex: 1;
}

.link_column ul li a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
}

.link_column ul li:hover {
    background-color: rgb(40, 40, 100);
}

/* Footer */
.footer {
    margin-top: auto;
    padding: 2em;
    height: 100%;
    background-color: rgb(6, 6, 100);
    text-align: center;
}

.footer p {
    color: white;
}