.media-feed {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.upload-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

input[type="file"] {
    display: none;
}

.add-btn, .delete-btn {
    background-color: navy;
    color: white;
    font-size: larger;
    height: 60px;
    width: 200px;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto; 
    max-height: 500px;
}

.media-item {
    margin: 10px;
    position: relative;
}

.selected {
    border: 2px solid black;
}
