/* SelectedDate.css */
.selected-date-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .appointment-input {
    display: flex;
    align-items: center;
  }
  
  .add-button {
    margin-left: 10px;
  }
  
  .appointment-list {
    max-height: 150px; /* Adjust the max height as needed */
    overflow-y: auto;
    margin-top: 10px; /* Add some top margin for spacing */
  }
  
  .delete-button {
    margin-right: 5px;
    cursor: pointer;
  }
  