.register-container {
    text-align: center;
    margin-top: 5%;
}

.register-container h2 {
    margin-bottom: 10px;
}

.inputs {
    /* text-align: center; */
    margin-left: 41%;
}

.input-group {
    width:30%;
    padding-top: 10px;
}

.register-btn {
    margin-top: 10px;
    width: 100px;
    height: 25px;
}

.return p {
    padding-bottom: 10px;
}

.return .return-btn{
    width: 100px;
    height: 25px;
}