/* AccountCard.css */
.profile-card {
    width: 100%;
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 10px;
    justify-content: space-between;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s; /* Add transition for background color */
  }
  
  .profile-card img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
  }
  
  .profile-card .profile-info {
    display: flex;
    align-items: center;
  }
  
  .profile-card .profile-info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .profile-card .profile-info ul li {
    margin-bottom: 10px;
    padding: 0; /* Reset padding */
  }
  
  .first-name,
  .last-name,
  .info-item {
    font-size: 1rem;
    margin-right: 10px;
  }
  
  .info-item {
    margin-right: 10px;
  }
  
  .last-name {
    margin-right: 0.5rem;
    padding-right: 0.5rem;
    border-right: none;
  }
  
  .profile-card.selected {
    background-color: rgb(150, 150, 200);
  }
  
  .profile-card:hover {
    background-color: rgb(150, 150, 200);
    transition: background-color 0.5s; /* Add transition for hover */
  }
  