.notif-popup {
    position: absolute;
    top: 40px;
    right: -30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    z-index: 1000; /* Ensure popup is above other elements */
  }
  
  .notif-popup li {
    margin: 5px 0;
  }