.register-container {
    text-align: center;
    margin-top: 2.5%;
}

.register-container h2 {
    margin-bottom: 10px;
}

.inputs {
    margin-left: 41%;
}

.input-group {
    width: 30%;
    padding-top: 5px;
}

.register-btn {
    margin-top: 10px;
    width: 100px;
    height: 25px;
}

.switch-btns {
    display: flex;
    justify-content: space-between;
  }
  
.switch-btns .return,
.switch-btns .signup2,
.switch-btns .signup {
    width: 48%;
}

.return p,
.signup2 p,
.signup p {
    padding-bottom: 10px;
}

.return .return-btn,
.signup2 .return-btn,
.signup .return-btn{
    width: 100px;
    height: 25px;
}
